<div class="container">
    <div class="action-settings" *ngIf="configInputs.length > 0">
        <div class="content">
            <ng-container *ngFor="let input of configInputs">
                <app-configuration-input [config]="input" [inputs]="action.inputs"></app-configuration-input>
            </ng-container>
        </div>
    </div>

    <div class="action-type">
        <div class="label">
            action
        </div>

        <select class="select-menu" [(ngModel)]="SelectedActionType">
            <ng-container *ngFor="let group of actionGroups">
                <optgroup [label]="group.name" *ngIf="group.name">
                    <option *ngFor="let option of group.options" [value]="option.name">
                        {{option.label}}
                    </option>
                </optgroup>

                <ng-container *ngIf="!group.name">
                    <option *ngFor="let option of group.options" [value]="option.name">
                        {{option.label}}
                    </option>
                </ng-container>
            </ng-container>
        </select>
    </div>
</div>