<div class="container">
    <div class="component-settings">
        <div class="content">
            <ng-container *ngIf="SelectedEvent.name === 'settings'">
                <ng-container *ngFor="let input of config.inputs">
                    <app-configuration-input
                        [config]="input"
                        [component]="component"
                    ></app-configuration-input>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="SelectedEvent.name !== 'settings'">
                <app-event-configuration
                    [config]="SelectedEvent"
                    [event]="selectedEventState"
                ></app-event-configuration>
            </ng-container>
        </div>

        <div class="tabs">
            <ng-container *ngFor="let event of events">
                <div
                    class="tab"
                    [class.tab-selected]="SelectedEvent === event"
                    [class.tab-unselected]="SelectedEvent !== event"
                    (pointerdown)="SelectedEvent = event"
                    *ngIf="event.name"
                >
                    {{event.label}}
                </div>

                <div class="tab-divider" *ngIf="!event.name"></div>
            </ng-container>
        </div>
    </div>

    <div class="component-type">
        <div class="label">
            component
        </div>

        <select class="select-menu" [(ngModel)]="SelectedComponentType" autofocus>
            <optgroup *ngFor="let group of componentGroups" [label]="group.name">
                <option *ngFor="let option of group.options" [value]="option.type">
                    {{option.label}}
                </option>
            </optgroup>
        </select>
    </div>
</div>