<div class="container">
    <div class="settings-background">
        <div class="component-settings">
            <div class="content">
                <!-- TODO: create component for this section, since also used in action-configuration.component -->
                <ng-container *ngIf="IsSettingsTabOpen">
                    <ng-container *ngFor="let input of configInputs">
                        <app-configuration-input [config]="input" [inputs]="component.inputs"></app-configuration-input>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="!IsSettingsTabOpen">
                    <app-event-configuration [config]="SelectedEvent" [component]="component"></app-event-configuration>
                </ng-container>
            </div>

            <div class="tabs">
                <ng-container *ngFor="let event of events">
                    <div class="tab" [class.tab-selected]="SelectedEvent === event"
                        [class.tab-unselected]="SelectedEvent !== event" (pointerdown)="SelectedEvent = event"
                        *ngIf="event.name">
                        {{event.label}}
                    </div>

                    <div class="tab-divider" *ngIf="!event.name"></div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="component-type">
            <div class="label">
                type
            </div>

            <select class="select-menu" [(ngModel)]="SelectedComponentType" autofocus>
                <ng-container *ngFor="let group of componentGroups">
                    <optgroup [label]="group.name" *ngIf="group.name">
                        <option *ngFor="let option of group.options" [value]="option.name">
                            {{option.label}}
                        </option>
                    </optgroup>

                    <ng-container *ngIf="!group.name">
                        <option *ngFor="let option of group.options" [value]="option.name">
                            {{option.label}}
                        </option>
                    </ng-container>
                </ng-container>
            </select>
        </div>

        <app-fancy-button icon="✅" label="Ok" color="#eeffee" (onClick)="onClose.emit()"></app-fancy-button>
    </div>
</div>