<div class="container">
    <div class="input-container" [ngSwitch]="config.type">
        <div class="label">{{config.label}} <div style="color: #ddd; display: none">{{config.type}}</div></div>
        
        <div *ngSwitchCase="'number'" class="input">
            <input type="number" [(ngModel)]="Value" />
        </div>
        
        <div *ngSwitchCase="'boolean'" class="input">
            <input type="checkbox" [(ngModel)]="Value" />
        </div>

        <div *ngSwitchCase="'color'" class="input">
            <input type="color" [(ngModel)]="Value" />
        </div>

        <div *ngSwitchDefault class="input">
            <input type="text" [(ngModel)]="Value" spellcheck="false" autocomplete="off" />
        </div>
    </div>

    <div class="var-container">
        <div class="label">var</div>

        <div class="input">
            <input type="checkbox" [(ngModel)]="Value" />
        </div>
    </div>
</div>