:root {
    --mainFont: Nunito, Inter, Raleway, -apple-system, BlinkMacSystemFont, Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    color: #333;
    background-color: white;
    font-family: var(--mainFont);
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: var(--mainFont);
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

button {
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
}

.grid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 3px;
    /*padding: 3px;*/

    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    /*border: 2px solid rgba(0, 0, 0, 0.4);*/
    /*border-radius: 4px;*/
    background-color: #fdfdfd;
    background-color: white;
}

.grid-cell {
    border: 1px solid rgba(0, 0, 0, 0.00);
    border-radius: 2px;
    background-color: #fff;
    /*cursor: pointer;*/
}
