<dialog class="overlay" #dialog>
    <div class="background"></div>

    <div class="header">
        <!--<div class="hgroup-8">-->
        <app-fancy-button icon="🆑" label="Clear" (onClick)="handleClear()"></app-fancy-button>
        <app-fancy-button icon="📋" label="Paste" (onClick)="handlePaste()" [disabled]="!HasClipboardState"></app-fancy-button>
        <app-fancy-button icon="🖇️" label="Copy" (onClick)="handleCopy()"></app-fancy-button>
    </div>

    <div class="content">
        <app-component-configuration [component]="component" (onClose)="closeModal()"></app-component-configuration>
    </div>
</dialog>