<dialog class="overlay" #dialog>
    <div class="background"></div>

    <div class="header">
        <!--<div class="hgroup-8">-->
            <app-fancy-button icon="🆑" label="Clear"></app-fancy-button>
            <app-fancy-button icon="📋" label="Paste"></app-fancy-button>
            <app-fancy-button icon="🖇️" label="Copy"></app-fancy-button>
    </div>

    <div class="content">
        <app-component-configuration [component]="component"></app-component-configuration>
    </div>

    <div class="footer">
        <app-fancy-button icon="✅" label="Ok" color="#eeffee" (onClick)="closeModal()"></app-fancy-button>
    </div>
</dialog>