<div class="page" (pointerdown)="unselectSelectedComponent()">
    <div class="header">
        <div class="hgroup-8" *ngIf="false">
            <div>☰</div>
            <div style="font-size: 14px">SQUAPPS</div>
        </div>

        <app-fancy-button icon="☰" label="Menu" (onClick)="test()"></app-fancy-button>
        <app-fancy-button icon="⚙️" label="Settings"></app-fancy-button>
        <app-fancy-button icon="💾" label="Export"></app-fancy-button>
    </div>

    <div class="content">
        <div class="editor-grid" #grid></div>
    </div>

    <div class="footer" *ngIf="!appRunning">
        <div class="hgroup-8">
            <app-fancy-button icon="⏪" label="" color="#e4e4e4" (onClick)="performUndo()"></app-fancy-button>
            <app-fancy-button icon="⏩" label="" color="#e4e4e4" (onClick)="performRedo()"></app-fancy-button>
        </div>

        <ng-container *ngIf="!SelectedComponent">
            <app-fancy-button icon="⚡" color="#f4f4e4" label="Events"></app-fancy-button>
            <app-fancy-button icon="▶️" color="#eeffff" label="Run App" (onClick)="runApp()"></app-fancy-button>
        </ng-container>

        <ng-container *ngIf="SelectedComponent">
            <div class="hgroup-8">
                <app-fancy-button icon="🗑️" label="" color="#eeeeee" (onClick)="deleteComponent(SelectedComponent)"></app-fancy-button>
                <app-fancy-button icon="✏️" label="Settings" color="#fff4e4" (onClick)="editSelectedComponent()"></app-fancy-button>
            </div>

            <app-fancy-button icon="✅" label="Ok" color="#eeffee" (onClick)="unselectSelectedComponent()"></app-fancy-button>
        </ng-container>
    </div>

    <div class="footer footer-app-running" *ngIf="appRunning">
        <app-fancy-button icon="⏹" color="#ffcccc" label="Stop App" (onClick)="runApp()"></app-fancy-button>
    </div>
</div>

<app-edit-component-overlay
    *ngIf="componentModalOpen && SelectedComponent"
    [component]="SelectedComponent"
    (onClose)="onEditComponentOverlayClose()"
></app-edit-component-overlay>
