:host {
    display: contents;
}

.page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    
    background-color: #faffff;

    .header, .footer {
        width: min(67vh, 100%);
        height: 50px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        padding: 42px 16px;
    }

    .content {
        flex: 1;
        width: min(67vh, 100%);
        min-height: 0;

        padding: 0px 16px;

        .editor-grid {
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(12, 1fr);
            gap: 3px;
            padding: 3px;

            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
            border: 2px solid rgba(0, 0, 0, 0.4);
            border-radius: 4px;
            background-color: #f8f8f8;
        }
    }
}

.hgroup-8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.hgroup-16 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.hgroup-24 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
