<div class="container">
    <app-action-configuration *ngIf="SelectedAction" [action]="SelectedAction"></app-action-configuration>

    <div class="action-list-section">
        <div class="action-list-buttons">
            <app-fancy-button icon="🗑️" label="" (onClick)="deleteSelectedAction()"></app-fancy-button>
            <app-fancy-button icon="➕" label="" (onClick)="addAction()"></app-fancy-button>
        </div>

        <div class="action-list-container">
            <div class="action-list" #actionList>
                <div class="action-entry" [class.selected]="selectedActionIndex === i"
                    (pointerdown)="selectAction(i)"
                    *ngFor="let action of event.actions; let i = index">
                    {{i + 1}}. {{ getActionLabel(action) }}
                </div>
            </div>

            <div class="floating-action-list-buttons">
                <app-fancy-button icon="⬆️" label="" (onClick)="moveSelectedActionUp()"></app-fancy-button>
                <app-fancy-button icon="⬇️" label="" (onClick)="moveSelectedActionDown()"></app-fancy-button>
            </div>
        </div>
    </div>
</div>