:host {
    display: contents;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;

    .action-list-section {
        width: 100%;

        display: flex;
        flex-direction: row;
        gap: 8px;

        .action-list-container {
            flex: 1;
            height: 120px;
            position: relative;

            //box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
            border: 2px solid rgba(0, 0, 0, 0.4);
            border-radius: 4px;
            background-color: #eee;

            .action-list {
                width: 100%;
                height: 100%;

                overflow-y: scroll;
                overflow-x: hidden;
                padding-bottom: 36px;

                .action-entry:nth-child(odd) {
                    background-color: #eed;
                }

                .action-entry:nth-child(even) {
                    background-color: #ddc;
                }

                .action-entry {
                    padding: 8px;
                    border-bottom: 2px solid #0003;
                    text-transform: lowercase;
                    user-select: none;
                    cursor: pointer;

                    &.selected {
                        background-color: #e66;
                        font-weight: bold;
                        color: white;
                        cursor: default;
                    }
                }
            }

            .floating-action-list-buttons {
                position: absolute;
                top: 0;
                right: min(28px, 3.5vw);
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 8px;
            }
        }

        .action-list-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            padding: 0 8px 0 0;
        }
    }
}