:host {
    display: contents;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;

    .action-list-section {
        width: 100%;

        display: flex;
        flex-direction: row;
        gap: 8px;

        .action-list-container {
            flex: 1;
            height: 120px;
            position: relative;

            border: 1px solid black;
            background-color: #eee;

            .action-list {
                width: 100%;
                height: 100%;

                overflow-y: scroll;
                overflow-x: hidden;

                .action-entry:nth-child(odd) {
                    background-color: beige;
                }

                .action-entry:nth-child(even) {
                    background-color: #dee;
                }

                .action-entry {
                    padding: 8px;
                    border-bottom: 1px solid #0002;

                    &.selected {
                        background-color: #f77;
                        font-weight: bold;
                    }
                }
            }

            .floating-action-list-buttons {
                position: absolute;
                top: 0;
                right: 3vw;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 8px;
            }
        }

        .action-list-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            padding: 0 8px 0 0;
        }
    }
}