/* You can add global styles to this file, and also import other style files */

:root {
    --mainFont: Nunito, Inter, Raleway, -apple-system, BlinkMacSystemFont, Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    color: #333;
    background-color: #00b4d8;
    font-family: var(--mainFont);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    font-family: var(--mainFont);
}

.grid-cell {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
}

.grid-component {
    container-type: size;
    container-name: cellbox;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(203, 235, 247);
    cursor: pointer;

    font-size: 13px;
    text-transform: lowercase;
    overflow: hidden;
    user-select: none;
    //white-space: nowrap;
    //text-overflow: ellipsis;
}

@container cellbox (min-width: 50px) {
    .grid-component div {
        font-size: 12px;
    }
}

@container cellbox (min-width: 100px) {
    .grid-component div {
        font-size: 15px;
    }
}

@container cellbox (min-width: 300px) {
    .grid-component div {
        font-size: 17px;
    }
}

.grid-selection-box {
    position: relative;
    z-index: 99;
    border: 4px solid red;
    cursor: move;

    .corner {
        position: absolute;
        background-color: rgb(255, 100, 100);
        box-sizing: border-box;
        border-radius: 50%;
        width: 28px;
        height: 28px;
    }

    .corner-0 {
        left: -17px;
        top: -17px;
        cursor: nw-resize;
    }

    .corner-1 {
        left: -17px;
        bottom: -17px;
        cursor: sw-resize;
    }

    .corner-2 {
        right: -17px;
        top: -17px;
        cursor: ne-resize;
    }

    .corner-3 {
        right: -17px;
        bottom: -17px;
        cursor: se-resize;
    }
}

.play-frame {
    z-index: 199;
    /*border: 2px solid purple;*/
    /*box-sizing: border-box;*/
    width: 100%;
    height: 100%;
}